<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">SmartEnergy.Client</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="measurements">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Measurements
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Jelle">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Jelle
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Martin">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Martin
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Maurits">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Maurits
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Niels">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Niels
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Raf">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Raf
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Rick">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Rick
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Sinan">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Sinan
            </NavLink>
        </div>
    </nav>
</div>

