@page "/Niels"
@rendermode InteractiveServer
@inject IMeasurementRepository measurementRepository

<PageTitle>Niels Jansen</PageTitle>

<header>   
    <h1 class="assignment">Opdrachtvariant H</h1>
    <p>
        In onderstaande grafiek kunt u zien of een bepaald huishouden op een goedkoop of duur moment stroom verbruikt. De rode lijn geeft 
        de gemiddelde en dynamische prijs weer. De groene lijn toont of het gemiddelde huishouden op een goedkoop of duur moment 
        elektriciteit verbruikt. Tot slot geeft de blauwe lijn het elektriciteitsverbruik van het door u geselecteerde huishouden aan.
    </p>
    <p><b>naam: </b>Niels Jansen</p>
    <p><b>klas: </b>230ICTVTE2</p>
</header>
<main>
    <table>
        <td><b>Huidige prijs per kWh</b> €</td>
        <td></td>
        <td></td>
    </table>
</main>
<footer>
</footer>

@code {

}