@inherits LayoutComponentBase

<NavMenu />
<div class="page">
     <nav class="left-navigation">
            <ul>
                <li class="active">
                    <a href="/Dashboard">Dashboard</a>
                </li>
                <li>
                    <a href="/Reminders">Reminders</a>
                </li>       
                <li>
                    <a href="/FAQ">FAQ</a>
                </li>
            </ul>
        </nav>
    <main>
        @* <h1 class="pageTitle">Dashboard</h1> *@
        @Body  
        <div class="navDots">
            <div class="circles">
                <div class="circle active"></div>
                <div class="circle"></div>
                <div class="circle"></div>
            </div>
        </div>
    </main>
</div>

@* <div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div> *@
