<div class="top-navigation">
    <h1 class="project-title">
        Robot Management System V1.0
    </h1>
    <div class="status-navigation">
        <div class="wifi big">
            <div class="wifi medium">
                <div class="wifi small">
                    <div class="circle"></div>
                </div>
            </div>
        </div>
        <div class="online-status">
            <p class="online-status-text">Online</p>
            <div class="online-status-circle" data-status="true"></div>
        </div>
        <div class="settings">
            <button class="settings-button">
                    <i class="fa fa-solid fa-gear"></i>
            </button>
        </div>
    </div>
</div>