@page "/Error"
@using System.Diagnostics

<PageTitle>Pagina niet gevonden</PageTitle>

<div class="error-container">
  <div class="lottie-animation"></div>
  <div class="error-content">
    <h1>404</h1>
    <p>Oops! De pagina die je zoekt bestaat niet.</p>
    @if (ShowRequestId)
    {
        <p>
            <strong>Request ID:</strong> <code>@RequestId</code>
        </p>
    }
    <a href="/" class="btn btn-primary">Terug naar de Homepagina</a>
  </div>
</div>

@code{
    [CascadingParameter]
    private HttpContext? HttpContext { get; set; }

    private string? RequestId { get; set; }
    private bool ShowRequestId => !string.IsNullOrEmpty(RequestId);

    protected override void OnInitialized() =>
        RequestId = Activity.Current?.Id ?? HttpContext?.TraceIdentifier;
}
