@page "/FAQ"
@using System.ComponentModel.DataAnnotations
@using BlazorMqttDatabase.Services
@using robot_app.Components.Pages
@rendermode InteractiveServer
@inject IUserRepository userRepository


<div id="faq" class="page"></div>

@code {

}