@page "/"
@using System.ComponentModel.DataAnnotations
@using BlazorMqttDatabase.Services
@using robot_app.Components.Pages

<div class="pages">
    @* <Dash/> *@
    <Reminders/>
    @* <FAQ/> *@
</div>

@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
    }
}