@page "/Reminders"
@using System.ComponentModel.DataAnnotations
@using BlazorMqttDatabase.Services
@using robot_app.Components.Pages
@rendermode InteractiveServer
@inject IUserRepository userRepository


<div id="reminders" class="page scroll-snappable"></div>

@code {

}