@use './variables' as *;
@use './pages/dashboard' as *;
@use './pages/reminders' as *;
@use './pages/faq' as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: var(--font-family);
}

body.normal-font-size {
    @include normal-font-size;
}

body.large-font-size {
    @include large-font-size;
}

body.dark-theme {
    @include dark-theme;
}

body.light-theme {
    @include light-theme;
}

body {
    position: relative;
    height: 100vh;
    width: 100vw;
    color: var(--clr-400);
    background-color: var(--clr-300);
    overflow: hidden;

    #loader-overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5); 
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        z-index: 9999;
        visibility: hidden; 
        transition: 150ms linear;
    }

    h2 {
        color: var(--slider-bg-color);
        margin-bottom: 20px;
    }

    .spinner {
        border: 4px solid var(--slider-bg-color); 
        border-top: 4px solid var(--active-color); 
        border-radius: 50%;
        width: 50px;
        height: 50px;
        animation: spin 1s linear infinite;
    }
    
    @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }
}

// Needed to prevent overwritten by _reboot.scss
p {
    margin: 0;
}

i.fa {
    color: var(--clr-400);
}

// .icon.wifi.big {
//     color: var(--clr-400)
// }

// Main Form options

// Custom scrollbar
select::-webkit-scrollbar, textarea::-webkit-scrollbar {
    width: 5px;
}

select::-webkit-scrollbar-thumb, textarea::-webkit-scrollbar-thumb {
    background-color: var(--clr-400);
    width: 5px;
    border-radius: 25px;
}

// CUSTOM checkbox slider
.form-switch .form-check-input {
    --bs-form-switch-bg: var(--slider-svg-non-active) !important;
    background-color: transparent !important;
    height: 40px;
    width: 80px;
    border: 1px solid var(--clr-400) !important;
    outline: none !important;
    box-shadow: none !important;
}

.form-switch .form-check-input:checked {
    --bs-form-switch-bg: var(--slider-svg-active) !important;
    background-color: var(--active-color) !important;
}

.form-switch {
    transition: 150ms linear;
}

.form-switch:hover {
    transform: scale(0.97);
}

// Custom toast
.toast-custom {
    position: absolute;
    bottom: 140px;
    right: 30px;
    border-radius: 12px;
    background-color: var(--clr-100);
    padding: 20px 35px 20px 25px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    border-left: 6px solid var(--active-color);
    overflow: hidden;
    transform: translateX(calc(100% + 100px));
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.35);
    z-index: 999999;

    .toast-content-custom {
        display: flex;
        align-items: center;

        .message {
            display: flex;
            flex-direction: column;
            margin: 0 20px;

            .text {
                font-size: var(--fs-xl);
                font-weight: 400;
                color: var(--clr-400);
            }

            .text-1 {
                font-weight: 600;
            }
        }

        .check {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 35px;
            width: 35px;
            background-color: var(--active-color);
            color: var(--clr-100);
            font-size: var(--icon-sm);
            border-radius: 50%;
        }

        .check.success {
            background-color: var(--robot-on);
        }

        .check.failed {
            background-color: var(--robot-off);
        }
    }

    .progress-custom {
        position: absolute;
        bottom: 0;
        left: 0;
        height: 3px;
        width: 100%;
        background-color: var(--clr-200);
    }

    .progress-custom:before {
        content: '';
        position: absolute;
        bottom: 0;
        right: 0%;
        height: 100%;
        width: 100%;
        background-color: var(--clr-200);
    }

    .progress-custom.active:before {
        animation: progress 10s linear forwards;
        background-color: var(--active-color);
    }

    @keyframes progress {
        100% {
            right: 100%;
        }
        50% {
            right: 100%;
        }
    }

    .close {
        position: absolute;
        top: 10px;
        right: 15px;
        padding: 5px;
        cursor: pointer;
        opacity: 0.7;
        font-size: var(--icon-xs);
        color: var(--clr-400);
        transition: 150ms linear;
    }

    .close:hover {
        opacity: 1;
        color: var(--robot-offline);
        transform: translate(0.97);
    }
}

.toast-custom.active {
    transform: translateX(0%);
}

.toast-custom.settings {
    bottom: 40px;
}

// popUp

.popUp {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: 150ms linear;
    background-color: rgba(0, 0, 0, 0.5);
    visibility: hidden;
    z-index: 9999;

    .popUpContainer {
       position: relative;
       height: 450px;
       width: 825px;
       border-radius: 25px;
       background-color: var(--clr-100);
       padding: 20px;

       .header {
          position: relative;
          display: flex;
          justify-content: flex-end;
          align-items: center;
          width: 100%;

          h2 {
             position: absolute;
             text-align: center;
             width: 100%;
             font-size: var(--fs-xxxl);
             color: var(--clr-400);
          }

          button {
             display: flex;
             justify-content: center;
             align-items: center;
             width: var(--icon-md);
             height:var(--icon-md);
             right: 0;
             background-color: transparent;
             border: none;
             outline: none;
             z-index: 999;

             i {
                font-size: var(--icon-md);
                transition: 150ms linear;
             }
          }

          button:hover {
             i {
                transform: scale(0.97);
                color: var(--robot-off);
             }
          }
       }

       .content {
            position: relative;
            width: 100%;
            height: calc(100% - 30px);
            padding: 20px;
            overflow: hidden;
       }

       .settingsContent {
            display: flex;
            justify-content: center;
            flex-direction: row;

            .leftSide {
                position: relative;
                width: 270px;
                height: 100%;
                border-right: 1px solid var(--clr-400);

                nav {
                    width: 100%;
                    height: 100%;

                    ul {
                        display: flex;
                        justify-content: flex-start;
                        flex-direction: column;
                        width: 100%;
                        height: 100%;
                        padding: 0;
                        margin: 0;
                        list-style: none;

                        li {
                            button {
                                width: 250px;
                                height: 75px;
                                border-radius: 25px;
                                color: var(--clr-400);
                                font-size: var(--fs-xl);
                                background-color: transparent;
                                border: none;
                                outline: none;
                                transition: 150ms linear;
                            }

                            button.active {
                                background-color: var(--clr-200);
                            }

                            button:hover {
                                transform: scale(0.97);
                                background-color: var(--clr-300);
                            }

                            button.logoutBtn {
                                color: #fff;
                                font-weight: bold;
                                background-color: var(--robot-off);
                            }

                            button.logoutBtn:hover {
                                opacity: 0.9;
                            }
                        }

                        li:nth-child(1) {
                            margin-bottom: 20px;
                        }

                        li:nth-child(3) {
                            position: absolute;
                            bottom: 0;
                        }

                        li:nth-child(3)::before {
                            content: '';
                            position: absolute;
                            display: block;
                            width: 250px;
                            height: 1px;
                            border-top: 1px solid var(--clr-400);
                            top: -20px;
                            left: 0;
                        }
                    }
                }
            }

            .rightSide {
                position: relative;
                width: calc(100% - 270px);
                height: 100%;
                padding: 20px;

                .personalSettings {
                    position: relative;
                    width: 100%;
                    height: 100%;

                    ul {
                        position: relative;
                        display: flex;
                        flex-direction: column;
                        width: 100%;
                        height: 100%;
                        padding: 0;
                        margin: 0;

                        li {
                            display: flex;
                            align-items: center;
                            flex-direction: row;
                            width: 100%;

                            label {
                                width: 50%;
                                margin-right: 20px;
                                color: var(--clr-400);
                                font-size: var(--fs-xl);
                            }
                        }
                    }
                }

                .robotSettings {
                    position: relative;
                    height: 100%;
                    width: 100%;

                    .robotInformation {
                        p {
                            color: var(--clr-400);
                            font-size: var(--fs-xl);
                        }

                        p:nth-child(3) {
                            margin-top: 20px;
                        }
                    }

                    .robotSwitch {
                        position: relative;
                        display: flex;
                        align-items: center;
                        flex-direction: row;
                        width: 100%;
                        margin-top: 20px;

                        label {
                            width: 60%;
                            margin-right: 20px;
                            color: var(--clr-400);
                            font-size: var(--fs-xl);
                        }

                        // CUSTOM checkbox slider
                        .form-switch .form-check-input {
                            --bs-form-switch-bg: var(--slider-svg-non-active) !important;
                            background-color: var(--robot-off) !important;
                        }

                        .form-switch .form-check-input:checked {
                            --bs-form-switch-bg: var(--slider-svg-non-active) !important;
                            background-color: var(--robot-on) !important;
                        }
                    }
                }

                #processingScreen {
                    position: relative;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    width: 100%;
                    height: 100%;

                    h2 {
                        font-size: var(--fs-xxxl);
                        color: var(--clr-400);
                    }

                    .spinner {
                        border: 4px solid var(--clr-300);
                        border-top: 4px solid var(--active-color);
                    }
                }
            }
       }
    }
 }

 .popUp.active {
    visibility: visible;
 }

.top-navigation {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    width: auto;
    padding: 20px;

    .project-title {
        font-size: var(--fs-xxxl);
    }

    .status-navigation {
        position: relative;
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: auto;
    
        .wifi, .online-status, .settings {
            display: flex;
            justify-content: center;
            align-items: center;
        }  

        .wifi, .settings {
            width: var(--icon-lg);
            height: var(--icon-lg);
        }

        .online-status {
            justify-content: space-between;
            margin: 0 20px;

            .online-status-text {
                font-size: var(--fs-xl);
                margin-right: 10px;
            }

            .online-status-circle {
                width: var(--icon-sm);
                height: var(--icon-sm);
                border-radius: 25px;
                transition: 200ms linear;
            }

            .online-status-circle[data-status="true"] {
                background-color: var(--robot-online);
            }

            .online-status-circle[data-status="false"] {
                background-color: var(--robot-offline);
            }
        }

        .settings-button {
            position: relative;
            width: 100%;
            height: 100%;
            background-color: transparent;
            border: none;
            
            i {
                transition: 150ms linear;
                font-size: var(--icon-lg);
            }
        }

        .settings-button:hover {
            i {
                transform: rotate(10deg) scale(0.99);
                opacity: 0.75;
            }
        }
    } 
}

.main-page {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    height: calc(100vh - 100px);
 
    nav.left-navigation {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        width: 300px;
        height: calc(100vh - 100px);
        background-color: var(--clr-300);
        padding-top: 20px;
    
        ul {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            width: 80%;
            height: auto;
            list-style: none;
            padding: 0;

            li {
                position: relative;
                width: 250px;
                height: 75px;
                border-radius: 25px;
                margin-bottom: 20px;
                background-color: var(--clr-200);
                transition: 150ms linear;

                a {
                    position: absolute;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    height: 100%;
                    text-decoration: none;
                    color: var(--clr-400);
                    font-size: var(--fs-xl);
                }
            }
    
            li:hover, li.active {
                background-color: var(--clr-100);
            }
    
            li:hover {
                transform: scale(0.97);
            }
        }
    }

    main {
        position: relative;
        height: 100%;
        width: calc(100vw - 300px);
        border-radius: 40px 0px 0px 0px;
        background-color: var(--clr-100);
        padding: 30px;
        overflow: hidden;

        h1.pageTitle {
            text-align: start;
            font-size: var(--fs-xxxl);
            transition: 150ms linear;
        }

        .pages {
            position: absolute;
            top: 0;
            left: 0;
            height: 100vh;
            width: 100%;
            border-radius: 40px 0px 0px 0px;
            padding: 30px 30px;

            overflow-y: auto;
            scroll-snap-type: y mandatory;
            scroll-behavior: smooth;
            scrollbar-width: none;

            .page {
                position: relative;
                width: 100%;
                height: 100vh;

                scroll-snap-align: start;
                object-fit: cover;
            }

            // Including pages scss
            @include dashboard;
            @include reminders;
            @include faq;
        }

        .navDots {
            position: absolute;
            display: flex;
            flex-direction: column; 
            top: calc(50% - 58px); 
            right: 20px; 
            z-index: 10;
    
            .circles {
                position: relative; 
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-direction: column;
                height: 116px;
                list-style: none;
    
                .circle {
                    position: relative;
                    width: 16px;
                    height: 16px;
                    border-radius: 50%;
                    opacity: 0.25;
                    background-color: var(--clr-400);
                    transition: 150ms linear;

                    a {
                        position: absolute;
                        width: 100%;
                        height: 100%;
                    }
                }
    
                .circle.active {
                    width: 24px;
                    height: 24px;
                    opacity: 0.5;
                    background-color: var(--clr-400);
                }
    
                .circle:hover {
                    transform: scale(1.25);
                    opacity: 0.5;
                }
            }
        }

        // Error 404 page
        .error-container {
            position: absolute;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            border-radius: 40px 0 0 0;  
            background-color: var(--clr-100);
            z-index: 999;

            .lottie-animation {
                max-width: 400px;
                margin-bottom: 2rem;
            }

            .error-content {
                text-align: center;

                h1 {
                    font-size: 6rem;
                    font-weight: bold;
                    margin-bottom: 1rem;
                }

                p {
                    font-size: 1.5rem;
                    margin-bottom: 2rem;
                }
            }
        }       
    }
}



