@use './variables' as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: var(--font-family);
}

body.normal-font-size {
    @include normal-font-size;
}

body.large-font-size {
    @include large-font-size;
}

body.dark-theme {
    @include dark-theme;
}

body.light-theme {
    @include light-theme;
}

body {
    position: relative;
    height: 100vh;
    width: 100vw;
    color: var(--clr-100);
    background-color: var(--clr-300);
}

// Needed to prevent overwritten by _reboot.scss
p {
    margin: 0;
}

.top-navigation {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    width: auto;
    padding: 20px;
    color: var(--clr-400);

    .project-title {
        font-size: var(--fs-xxxl);
    }

    .status-navigation {
        position: relative;
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: auto;
        color: var(--clr-400);
    
        .wifi, .online-status, .settings {
            display: flex;
            justify-content: center;
            align-items: center;
        }  

        .wifi, .settings {
            width: var(--icon-lg);
            height: var(--icon-lg);
        }

        .online-status {
            justify-content: space-between;
            margin: 0 20px;

            .online-status-text {
                font-size: var(--fs-xl);
                margin-right: 10px;
            }

            .online-status-circle {
                width: var(--icon-sm);
                height: var(--icon-sm);
                border-radius: 25px;
                transition: 200ms linear;
            }

            .online-status-circle[data-status="true"] {
                background-color: var(--robot-online);
            }

            .online-status-circle[data-status="false"] {
                background-color: var(--robot-offline);
            }
        }

        .settings-button {
            position: relative;
            width: 100%;
            height: 100%;
            background-color: transparent;
            border: none;
            
            i {
                transition: 150ms linear;
                font-size: var(--icon-lg);
            }
        }

        .settings-button:hover {
            i {
                transform: rotate(10deg) scale(0.99);
                opacity: 0.75;
            }
        }
    } 
}

.page {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    height: calc(100vh - 100px);
 
    nav.left-navigation {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        width: 300px;
        height: calc(100vh - 100px);
        background-color: var(--clr-300);
        padding-top: 20px;
    
        ul {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            width: 80%;
            height: auto;
            list-style: none;
    
            li {
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 250px;
                height: 75px;
                border-radius: 25px;
                margin-bottom: 20px;
                background-color: var(--clr-200);
                transition: 150ms linear;
    
                a {
                    text-decoration: none;
                    color: var(--clr-400);
                    font-size: var(--fs-xl);
                }
            }
    
            li:hover, li.active {
                background-color: var(--clr-100);
            }
    
            li:hover {
                transform: scale(0.95);
            }
        }
    }

    main {
        position: relative;
        height: 100%;
        width: calc(100vw - 300px);
        border-radius: 40px 0px 0px 0px;
        background-color: var(--clr-100);

        h1.pageTitle {
            text-align: start;
            font-size: var(--fs-xxxl)
        }

        .navDots {
            position: absolute;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            width: 100%;
            height: 100%;
            padding: 20px;

            .circles {
                position: relative; 
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-direction: column;
                height: 116px;
                width: auto;

                .circle {
                    width: 16px;
                    height: 16px;
                    border-radius: 25px;
                    opacity: 25%;
                    background-color: var(--clr-400);
                    transition: 150ms linear;
                }

                .circle.active {
                    width: 24px;
                    height: 24px;
                    opacity: 50%;
                    background-color: var(--clr-400);
                }

                .circle:hover {
                    transform: scale(1.25);
                    opacity: 50%;
                }
            }
        }
    }
}




